/* Universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    font-family: var(--crimson-text-regular)
}

body {
    display: grid;
    font-size: 18px;
}

/* Fonts */
--crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  --crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
--crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
  }




/* Colors */

:root {
    --lightBlue: #158BE6; /*Good for text on black */
    --steelBlue: #347CB3; /* Good for icons on white/black */
    --greyBlue: #3E6380; /* Good for background & icons on white */
    --darkerGrey: #35424C; /* Good for background */
    --greyBlack: #2D3133; /* Good for background */
    --ash: #DBDBDB; /*Good for text on greyblue, darkergrey, greyblack & black. */
    --white: #ffffff; /*Good for text on all black, greyblack, darkergrey & greyblue */
    --black: #00000000; /* Good for background */
}

/* main styles */

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0.9rem 0.5rem; 
    align-items: end;
    background-color: var(--darkerGrey);
}

.hero h1 {
    margin-bottom: 2em;
    grid-area: 1 / 3 ;
}

.navBar {
    grid-area: 1 / 3;

}

.navBar ul li {
    display: inline-block;
    padding: 0% .5%;
}

.navBar a {
    text-decoration: none;
    color: var(--ash);
}

.navBar a:hover {
    color: var(--lightBlue);
}

.infoCard {
    display: grid;
    padding: 2em;
   
}

.infoCard ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    
}

.infoCard ul li {
    border-radius: .5rem;
    list-style: none;
    padding: 1% 0%;
    
}

.infoCard a {
    text-decoration: none;
    color: var(--greyBlack)
}

.infoCard a:hover {
    color: var(--lightBlue);
    transform: scale(1.5);
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.contactCard {
    display: flexbox;
    justify-content: center;
    height: auto;
    width: 25%;
    border-radius: 1.5%;
    text-align: center;
    position: relative;
    
    

}

.contactCard h2 {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: -15%;
}

.profileBio p {
    text-align: center;
    padding: 2%;

}

.contactCard img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: #fff 10px solid;
    position: relative;
    z-index: 1;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;

}

.socialLinks {
    padding: 20px;
    text-align: center;
}

.socialLinks a {
    padding: 0% 5%;
    font-size: 2rem;

}

.socialLinks a:hover {
    transform: scale(1.5);
}

#intro {
    text-align: center;
    padding: 2em;
}

.projects-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.projects-grid li {
    list-style: none;
}


.project-item {
    text-align: center;
    margin-left: 3em;
    border: 1px solid black;
    padding: .5em .4em;
    background-color: var(--ash);
}

.project-item img {
    width: 100%;
}

button {
    width: 7em;
    height: 3em;
    font-weight: bold;
}

button:hover {
    background-color: var(--lightBlue);
}




footer {
    display: grid;
    margin-top: auto;
    background-color: var(--darkerGrey);
    color: var(--ash);
    text-align: center;
    font-size: 18px;
    
}