/* Universal styles */
html {
    scroll-behavior: smooth;
}

/* Fonts */
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  


/* Colors */

:root {
    --lightBlue: #158BE6; /*Good for text on black */
    --steelBlue: #347CB3; /* Good for icons on white/black */
    --greyBlue: #3E6380; /* Good for background & icons on white */
    --darkerGrey: #35424C; /* Good for background */
    --greyBlack: #2D3133; /* Good for background */
    --ash: #DBDBDB; /*Good for text on greyblue, darkergrey, greyblack & black. */
    --white: #ffffff; /*Good for text on all black, greyblack, darkergrey & greyblue */
    --black: #00000000; /* Good for background */
}

/* grid */

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr repeat(4, 3fr);
    grid-gap: 1em;
    
}
header {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    background-color: var(--greyBlack);
    color: var(--ash);
    text-align: center;
}

header ul {
    list-style: none;
    display: inline-flex;
    
}



#left-sidebar {
    display: grid;
    grid-area: 1 / 1 / 5 / 1;
    width: 50%;
    height: 100vh;
    background-color: var(--lightBlue);
    color: var(--white);
    z-index: -1;
}

#projects {
    display: grid;
    grid-area: 2 / 1 / 3 / 1;
}

.right-area {
    display: grid;
    grid-area: 2 / 2 / 5 / 3;
    background-color: var(--steelBlue);
    color: var(--ash);
}

footer {
    display: grid;
    grid-area: 4 / 1 / 4 / 2;
    margin-top: auto;
    background-color: var(--darkerGrey);
    color: var(--ash);
    
}