/* Universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    font-family: var(--crimson-text-regular)
}

body {
    display: grid;
    font-size: 18px;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #2D3133;
    color: #DBDBDB;
}

#themeToggle {
    display: flex;
    float: right;
    clear: both;
    
}

/* Fonts */
--crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  --crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
--crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
  }




/* Colors */

:root {
    --lightBlue: #158BE6; /*Good for text on black */
    --steelBlue: #347CB3; /* Good for icons on white/black */
    --greyBlue: #3E6380; /* Good for background & icons on white */
    --darkerGrey: #35424C; /* Good for background */
    --greyBlack: #2D3133; /* Good for background */
    --ash: #DBDBDB; /*Good for text on greyblue, darkergrey, greyblack & black. */
    --white: #ffffff; /*Good for text on all black, greyblack, darkergrey & greyblue */
    --black: #00000000; /* Good for background */
}

/* main styles */

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0.9rem 0.5rem; 
    align-items: end;
    background-color: var(--darkerGrey);
}

.hero h1 {
    margin-bottom: 3.5em;
    grid-area: 1 / 3 ;
    text-align: center;
}

.navBar {
    grid-area: 1 / 3;
    text-align: center;

}

.navBar ul li {
    display: inline-block;
    padding: 1% .5%;
}

.navBar a {
    text-decoration: none;
    color: var(--ash);
}

.navBar a:hover {
    color: var(--lightBlue);
}

#summary {
    display: grid;
    padding: 1em 0.5rem;
}

#summary h2, p {
    text-align: center;
    
}

.infoCard {
    display: grid;
    padding: 2em;
    justify-content: center;
    text-align: center;
    
   
}

.infoCard ul {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    
}

.infoCard ul li {
    display: inline-block;
    list-style: none;
    margin: .5rem;

    
}

.infoCard a {
    text-decoration: none;
    color: var(--greyBlack)
}

.infoCard a:hover {
    color: var(--lightBlue);
    transform: scale(1.5);
}

.flexContainer {
    display: grid;
    grid-template-columns: repeat(auto, minmax(320px, 1fr));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 3em;
    min-width: 50%;
}


.contactCard {
    display: grid;
    justify-content: center;
    height: auto;
    width: 25%;
    border-radius: 1.5%;
    text-align: center;
    position: relative;
    margin: auto;
    
    

}

.contactCard h2 {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: -15%;
}

.profileBio p {
    text-align: center;
    padding: 2%;

}

.contactCard img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: #fff 10px solid;
    position: relative;
    z-index: 1;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;

}

.socialLinks {
    padding: 20px;
    text-align: center;
}

.socialLinks a {
    padding: 0% 5%;
    font-size: 2rem;

}


#intro {
    text-align: center;
    padding: 2em;
}

.projects-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.projects-grid li {
    list-style: none;
}


.project-item {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid black;
    padding: .5em .4em;
    height: fit-content;
    width: fit-content;
}

.project-item img {
    width: 100%;
    border: 1px solid rgb(78, 74, 74);
}

.project-item button {
    width: 7em;
    height: 3em;
    font-weight: bold;
    margin-top: 1em;
    background: none;
    border: 1px solid black;
}

.project-item button:hover {
    background-color: var(--lightBlue);
}

.dark-mode .project-item button:hover {
    background-color: var(--greyBlue)
}

.dark-mode .project-item button {
    color: var(--ash);
}




footer {
    display: grid;
    margin-top: auto;
    background-color: var(--darkerGrey);
    color: var(--ash);
    text-align: center;
    font-size: 18px;
}

/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }